# This is a template for environment variables required by the AnimeLens Discord bot.
# Rename this file to `.env` and fill in the values before running the bot.
# Do NOT commit your actual .env file to version control, as it contains sensitive information.
# See README.md for more details.

# Discord
DISCORD_CLIENT_TOKEN=""
DISCORD_GUILD_ID=""

# DB List (Optional)
DB_LIST_TOKEN=""

# Github
GITHUB_REPO_URL="https://github.com/unloopedmido/animelens"