# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Lock files
*-lock.yaml
.pnp.*
yarn-error.log
yarn-debug.log*
yarn-*.js
package-lock.json
npm-debug.log*
.npmrc
.bun.lockb
bun.lock
.pnpm-debug.log*
pnpm-lock.yaml

# Prisma
/src/util/db/generated
/prisma/migrations
/prisma/dev.db
/prisma/dev.db-journal
/prisma/test.db
/prisma/test.db-journal
/prisma/prod.db
/prisma/prod.db-journal