<!doctype html>
<html lang="en" class="scroll-smooth">

<head>
  <%- include('partials/meta') %>
  <title>AnimeLens - About</title>
</head>

<body class="min-h-screen font-[Inter] bg-[#07060a] text-white flex flex-col selection:bg-purple-600/70 selection:text-white relative overflow-hidden">
  <%- include('partials/gradients') %>
  <%- include('partials/header') %>
  <main class="flex-1 flex items-center justify-center px-6 py-20">
    <h1 class="font-bold text-5xl text-center">Under Construction</h1>
  </main>
  <%- include('partials/footer') %>
</body>

</html>